<lasso-page/>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>marko-fastify</title>
    <lasso-head/>
  </head>
  <body>
    <app-hello name=data.name/>
    You have ${data.count} new messages!
    <if(data.colors && data.colors.length)>
      <ul>
        <for|color| of=data.colors>
          <li style={ color: color }>${color}</li>
        </for>
      </ul>
    </if>
    <else>
      <div>No colors!</div>
    </else>
    <lasso-body/>
  </body>
</html>
